<h1>Introducción</h1>
<p>
	Con la Política de Calidad del Ministerio de Comercio, Industria y Turismo, se busca mejorar los niveles de calidad en al prestación de los servicios turísticos al generar una cultura de excelencia en los prestadores de servicios turísticos y destinos, como estrategía para posicionar a Colombia como un destino diferenciado, competitivo y sotenible.
</p>
<p>
	En concordancia con lo anteriormente expuesto, con el Premio Nacional de Turismo Sostenible, se han reconocido las mejores prácticas sostenibles de turismo en Colombia, como un estímulo a los prestadores de servicios turísticos certificados en sostenibilidad turística y que han demostrado su compromiso con la competitividad.
</p>
<p>
	A continuación se presenta información relevante sobre calidad turística y prestadores de servicios que resaltan este tema. 
</p>