<h2>Marca de certificación <small>en calidad turística</small></h2>

<p>
	Es una marca de certificación reconocida por la Superintendencia de Industria y Comercio que puede portar una empresa o entidad que cumpla con los requisitos establecidos de conformidad con su reglamento de uso.
</p>

<p>
	En este sentido, mediante las Resoluciones 0650 de 2008 Y 5797 de 2013, el Ministerio de Comercio Industria y Turismo ha reglamentado el uso de la Marca de Certificación de Calidad Turística que busca:
</p>

<ul>
	<li>
		Mejorar la calidad de los servicios turísticos ofrecidos en Colombia;
	</li>
	<li>
		Crear una herramienta informativa y comercial para diferenciar servicios turísticos que comparativamente presenten un mejor desempeño;
	</li>
	<li>
		Promover un cambio hacia el consumo de servicios turísticos de óptima calidad;
	</li>
	<li>
		Facilitar el acceso al mercado y mejorar la imagen de los servicios turísticos.
	</li>
	<li>
		Incentivar la prestación de servicios turísticos de calidad.
	</li>
	<li>
		Promover el uso y desarrollo de procesos, técnicas y tecnologías de calidad aplicables al sector turístico.
	</li>
</ul>

<p>
	La Marca de Certificación de Calidad Turística podrá ser otorgada por parte del Ministerio de Comercio, Industria y Turismo para su uso y manejo, a las certificadoras que estén debidamente acreditadas por El Organismo Nacional de Acreditación – ONAC, de acuerdo con las condiciones, procedimientos y requisitos establecidos en la Resolución 0650 de 2008.
</p>

<div class="panel panel-default">
	<div class="panel-heading">
	    <h4 class="panel-title">Características de la marca</h4>
	 </div>
	<div class="panel-body row">
		<div class="col-md-4">
			<figure>
			 	<img class="img-responsive center-block" alt="Certificado de Calidad Turística" src="../img/section5/section5_1.png">
			</figure>
		</div>
		<div class="col-md-8">
			<ul>
				<li>
					Marca de propiedad exclusiva del Ministerio de Comercio Industria y Turismo.
				</li>
				<li>
					Es una herramienta comercial e informativa para diferenciar destinos y prestadores de servicios turísticos certificados en Calidad Turística.
				</li>
				<li>
					Contribuye a la disciplina del mercado
				</li>
				<li>
					La otorga la certificadora, al prestador de servicios turísticos o destino que cumpla con la Norma Técnica Sectorial respectiva.
				</li>
			</ul>
		</div>
	</div>
</div>
<p>
	Esta marca se conjuga en un reconocimiento al cual tienen derecho estos prestadores de servicios y destinos turísticos por prestar un servicio de calidad, constituyéndose además en un distintivo que promueve la cultura de la excelencia en el sector y orienta al usuario para contratar servicios de calidad.
</p>