<h2>Premio Nacional <small>de Turismo Sostenible</small></h2>

<hr/>
<p>
	El propósito del Premio de Turismo Sostenible es promover y reconocer las mejores prácticas sostenibles de turismo en Colombia, como un estímulo a los actores que demuestran el compromiso con la conservación y preservación del patrimonio cultural y natural, en su quehacer turístico. Estos premios reconocen y fomentan las mejores prácticas en turismo sostenible y están abiertos a empresas colombianas de turismo pequeñas y grandes, en todo el país.
</p>

<h5>¿Quién puede Participar?</h5>

<p>
	Cualquier empresa colombiana de turismo que haya estado en el negocio mínimo por un año (contado a partir de la fecha de inscripción en el Registro Nacional de Turismo), siempre y cuando se encuentre al día por concepto del pago de la contribución parafiscal con destino al turismo, en proceso de certificación o certificado bajo alguna de las normas de sostenibilidad turistica y cuya actividad se desarrolle en uno de los siguientes sectores del negocio:
</p>

<ol>
	<li>
		Establecimiento de Alojamiento y Hospedaje
	</li>
	<li>
		Agencia de viajes
	</li>
	<li>
		Establecimientos de Gastronomía
	</li>
	<li>
		Empresas de Transporte Terrestre Automotor
	</li>
</ol>
<small>Nota. Una empresa de turismo podrá presentar una sola solicitud por cada año, en una única categoría.</small>

<h3>Categorías de Premiación:</h3>

<p>
	Los Premios de Turismo Sostenible de Colombia reconocen, excelente liderazgo y compromiso con los principios de turismo sostenible y las prácticas en las siguientes cuatro categorías de premiación:
</p>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="" ui-sref="section2.list" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Mejor en turismo verde
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Este premio reconoce al prestador de servicios turísticos que en su operación haya puesto en práctica la reducción, reutilización y reciclaje; para manejar y conservar energía, agua y desechos; para minimizar las huellas de carbono a través de procedimientos de operación ambientalmente amigables. También incluye educar a la comunidad y los visitantes en prácticas amigables con el medio ambiente.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="" ui-sref="section2.list" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Mejor en acciones para la conservación de la naturaleza, los ecosistemas y las especies
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
       Este premio reconoce las mejores prácticas que contribuyen con la protección y conservación del patrimonio natural, incluyendo la protección de la vida silvestre, expandiendo y restaurando el hábitat natural y apoyando la conservación de la biodiversidad. También incluye la educación y sensibilización de los visitantes sobre la conservación de la naturaleza.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="" ui-sref="section2.list" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Mejor en acciones para la conservación del patrimonio cultural
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
       	Este premio reconoce las mejores prácticas que contribuyen a la protección de la riqueza y la diversidad cultural del patrimonio colombiano, incluye la protección de los sitios históricos y patrimoniales, el apoyo al fomento, protección y salvaguarda del patrimonio intangible, el apoyo a grupos étnicos que define la constitución política de 1991 en los beneficios derivados de la actividad turística,  oportunidades para compartir y expandir en la importancia de la preservación del patrimonio cultural. También incluye educar a las partes interesadas locales y visitantes  sobre la protección del patrimonio cultural.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="" ui-sref="section2.list" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Mejor en acciones para el beneficio de las comunidades locales
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
       	Este premio reconoce las mejores prácticas para proporcionar beneficios directos y tangibles para la población local, los grupos étnicos definidos por la constitución política de Colombia y las comunidades receptoras en los destinos en donde operan. Esto incluye la creación de capacitaciones y formación para convertirse en parte de la economía del turismo, el apoyo para el desarrollo comunitario, y las oportunidades para que las comunidades locales se conviertan en socios y accionistas en el capital social y la prosperidad del desarrollo turístico, incluyendo el desarrollo de sus propios negocios.
      </div>
    </div>
  </div>
</div>





<!--a ui-sref="section2.list">Show List</a>
<div class="row">
    <div class="span6">
      <div class="well" ui-view="viewA"></div>        
    </div>
    <div class="span6">
      <div class="well" ui-view="viewB"></div>        
    </div>
</div--> 