<h1>Turismo sostenible <small>Definición de la Organización Mundial del Turismo</small></h1>

<hr/>
	<p>
	Dicho sencillamente, el turismo sostenible puede ser definido como:
	"El turismo que tiene plenamente en cuenta las repercusiones actuales y futuras, económicas, sociales y medioambientales para satisfacer las necesidades de los visitantes, de la industria, del entorno y de las comunidades anfitrionas".
	</p>
	<h5>Definición conceptual</h5>
	<p>
		Las directrices para el desarrollo sostenible del turismo y las prácticas de gestión sostenible se aplican a todas las formas de turismo en todos los tipos de destinos, incluidos el turismo de masas y los diversos segmentos turísticos. Los principios de sostenibilidad se refieren a los aspectos medioambiental, económico y sociocultural del desarrollo turístico, habiéndose de establecer un equilibrio adecuado entre esas tres dimensiones para garantizar su sostenibilidad a largo plazo.
	</p>

	<h5>Por lo tanto, el turismo sostenible debe:</h5>
	<ol>
		<li>
			Dar un uso óptimo a los recursos medioambientales, que son un elemento fundamental del desarrollo turístico, manteniendo los procesos ecológicos esenciales y ayudando a conservar los recursos naturales y la diversidad biológica.
		</li>
		<li>
			Respetar la autenticidad sociocultural de las comunidades anfitrionas, conservar sus activos culturales y arquitectónicos y sus valores tradicionales, y contribuir al entendimiento y la tolerancia intercultural.
		</li>
		<li>
			Asegurar unas actividades económicas viables a largo plazo, que reporten a todos los agentes, unos beneficios socio-económicos bien distribuidos, entre los que se cuenten oportunidades de empleo estable y de obtención de ingresos y servicios sociales para las comunidades anfitrionas, y que contribuyan a la reducción de la pobreza.
		</li>
	</ol>

	<p>
		El desarrollo sostenible del turismo exige la participación informada de todos los agentes relevantes, así como un liderazgo político firme para lograr una colaboración amplia y establecer un consenso. El logro de un turismo sostenible es un proceso continuo y requiere un seguimiento constante de sus incidencias, para introducir las medidas preventivas o correctivas que resulten necesarias.
	</p>
	<p>
		El turismo sostenible debe reportar también un alto grado de satisfacción a los turistas y representar para ellos una experiencia significativa, que los haga más conscientes de los problemas de la sostenibilidad y fomente en ellos unas prácticas turísticas sostenibles.
	</p>

	<div ui-view></div>