<h2>Calidad turística <small>Proceso decisivo para la competitividad del turismo colombiano</small></h2>

<hr/>

<div class="row">
	<div class="col-md-7">
		<h3>Política de Calidad</h3>

		<p>
			Mejorar los niveles de calidad en la prestación de los servicios turísticos al generar una cultura de excelencia en los prestadores de servicios turísticos y destinos, como estrategia para posicionar a Colombia como un destino diferenciado, competitivo y sostenible.
		</p>

		<h3>Objetivos Específicos</h3>

		<ul>
			<li>
				Promover los procesos de normalización a través de las Unidades Sectoriales de Normalización, de cada uno de los  subsectores del sector turístico colombiano.
			</li>

			<li>
				Promover los procesos de certificación en calidad turística para destinos y prestadores de servicios turísticos.
			</li>

			<li>
				Propiciar la excelencia en el sector turístico a través de incentivos para prestadores y destinos que logren avances en esta materia.
			</li>

			<li>
				Fomentar y promover entre los turistas nacionales y extranjeros, así como entre los actores externos al sector, una cultura de consumo de servicios turísticos de calidad.
			</li>
		</ul>

		<p>
			Con base en lo anterior, El Ministerio de Comercio, Industria y Turismo a través de la Dirección de Calidad y Desarrollo Sostenible del Turismo, coordina la definición de programas de normalización y estándares de calidad para cada uno de los subsectores turísticos y brinda asistencia técnica a los destinos y prestadores de servicios turísticos para la implementación de las normas técnicas sectoriales.
		</p>
	</div>
	<div class="col-md-5">
		<figure>
		 <img class="img-responsive" alt="Certificado de Calidad Turística" src="../img/section4/section4_1.png">
		</figure>
	</div>
</div>